@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,700i,900&display=swap&subset=latin-ext");
@import './header.scss';
@import './hamburger.scss';
@import './presentation.scss';
@import './footer.scss';
@import './variables.scss';
@import './news.scss';
@import './navigation.scss';

h3,
p {
  margin: 8px;
}
button {
  background: #6320ee;
  font-size: 15px;
}

.button-knowledge {
  width: fit-content;
  background: #e7f0ff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #4392f1;
  padding: 4px 10px;
  margin: 16px;
}
.know-how {
  display: flex;
  flex-direction: column;
  background: #e5e5e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 40px 8px;
  align-items: center;
}





ul {
  list-style: none;
  padding-left: 0;;
}
button {
  font-weight: 700;
}
html {
  font-size: 16px;
  color: #253c78;
  background: #f9f7f9;
  scroll-behavior: smooth;
}
