@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,700i,900&display=swap&subset=latin-ext");
@import './header.scss';
@import './hamburger.scss';
@import './presentation.scss';
@import './footer.scss';
@import './variables.scss';
@import './news.scss';
@import './navigation.scss';

h3,
p {
  margin: 8px;
}
button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  padding: 5px 12px;
  width: fit-content;
  
}

.button-knowledge {
  background: #e7f0ff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #4392f1; 
  margin: 16px;
}
.know-how {
  display: flex;
  flex-direction: column;
  background: #e5e5e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 40px 8px;
  align-items: center;
}

.news-api-info{
  max-width: 536px;
  margin: 0 auto;
}



ul {
  list-style: none;
  padding-left: 0;;
}

html {
  font-size: 16px;
  color: #253c78;
  background: #f9f7f9;
  scroll-behavior: smooth;
}
