.footer {
  margin-top: 40px;
  background: #e0e0e0;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  border-top: 1px solid #bfbfbf;
  color: #4392f1;
  text-shadow: 2px 2px 2px rgba(49, 49, 49, 0.3);
  &__navigation {
    padding-left: 0;
  }
}
.social__list {
  margin-bottom: 0;
}

@media (min-width: $tablet) {
  .footer {
    display: flex;
      flex-direction: column;
   
    
    &__list{
      display: flex;
      flex-direction: row;
      justify-content: center;
      &--element {
        margin: 4px 16px;
      }
    }
  }
  .social{
    &__list {
    display: flex;
      flex-direction: row;
      justify-content:center;
      &--link{
        margin: 4px 16px;
        padding-bottom: 24px;
      }
  }
}
}
