@import './variables.scss';

.header {
    &__bar {
      position: absolute;
      width: 100%;
      height: 44px;
      left: 0px;
      top: 0px;
      background: #6320ee;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 32px;
    
      
    }
  }
  
  .bank-name {
    margin: 10px 0 8px 0;
    width: 127px;
    height: 21px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #e7f0ff;
    text-shadow: 0px 4px 4px rgba(4, 0, 0, 0.7);
  
  }

  .button-login {
    margin: 6px 10px 0 8px;
    background: #4392f1;
    color: #e7f0ff;
    margin: 4px 16px;
  }
 a {
   color: #e7f0ff;
   
  
 }

 @media (min-width: $wide-tablet) {
   .button-login {
     height: 34px;
     width: 120px;
     
   }
 }
 @media (max-width: $wide-tablet)  {
  .header {
    &__bar {
      position: fixed;
    }
 }
}