.form-container {
  border: 1px solid black;
  border-radius: 4px;
  background: #6320ee;
  color: #e7f0ff;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 0;
  width: calc(100vw - 12px);
  margin: 0 6px;
}
.button-close {
  background: #4392f1;
  margin-bottom: 20px;
  align-self: flex-end;
  border-radius: 2px;
  width: 55px;
  height: 44px;
  padding: auto;
  font-size: 24px;
  display: flex;
  padding: auto;
  justify-content: center;
  transition: background 0.65s ease 0.1s;
  &:hover {
    background: #844134;
  }
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  padding: auto;
  width: 100%;
  &__label {
    width: 240px;
    margin: 4px auto;
  }
}
.button-submit {
  
  margin: 32px 28px;
  padding: 10px;
}
.button__container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
input {
  margin-top: 4px;
  margin-left: 6px;
  width: 100%;
  height: 22px;
  border-radius: 12px;
}

.darken-box, .slide-down {
    position: fixed;
    
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
 
 
}
.darken-box {
    top: -100vh;
}

.slide-down {
    transition: transform 1s 1s ease-in-out;
   top: 0;
}