.news {
    &__container {
      margin: 8px;
      background: #e7f0ff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__big-header {
        margin: 68px 0 50px 15vw;
    }
    &__header {
        margin: 40px 0 30px 0;
        text-align: center;
    }
  }
.button-news {
  width: fit-content;
  background: #e7f0ff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #4392f1;
  padding: 4px 15px;
  margin: 16px;
  text-decoration: none;
  font-weight: bold;
}
  @media (min-width: $wide-mobile) {
.news {
    
        max-width: 536px;
        margin: 0 auto;
       &__container {
           padding: 8px 16px;
           margin: 16px;
       }
    
}
  }