@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,700i,900&display=swap&subset=latin-ext");
h3,
p {
  margin: 8px;
}
.header {
  &__bar {
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #6320ee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.bank-name {
  margin: 8px 32px 8px 0;
  width: 127px;
  height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #e7f0ff;
  text-shadow: 0px 4px 4px rgba(4, 0, 0, 0.7);
}
.button-login {
  width: 94px;
  height: 28px;
  margin: 6px 10px 0 8px;
  background: #4392f1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #e7f0ff;
}
.menu {
  display: block;
  width: 23px;
  height: 23px;
  background: #e3ebff;
  border: 0.25px solid rgba(50, 41, 47, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 8px 12px;
}

.navigation {
  display: none;
  ////////////////////////////!!!!!!!!!!!/////////@extend
}
.header{
  margin-bottom: 32px;
}
.presentation {
  margin-top: 32px;
 
  &__button {
    width: fit-content;
    background: #e7f0ff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: #4392f1;
    padding: 4px 10px;
    margin: 16px;

    &--open-account {
      color: #e7f0ff;
      background: #4392f1;
    }

    &--container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0 55px;
    }
  }

  &__account,
  &__app,
  &__mortgage {
    margin: 8px;
    background: #e7f0ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }
  &__account {
    &--picture {
      background-image: url("./assets/img/happy-people-holdings-hands.jpg");
    }
  }
  &__app {
    &--picture {
      background-image: url("./assets/img/woman-holding-smartphone.jpg");
    }
  }
  &__mortgage {
    &--picture {
      background-image: url("./assets/img/nice-looking-apartment.jpg");
    }
  }
  &__account,
  &__app,
  &__mortgage {
    &--picture {
      display: block;
      min-width: fit-content;
      min-height: 170px;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border-radius: 4px;
    }
  }
}

.button-knowledge {
  width: fit-content;
  background: #e7f0ff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #4392f1;
  padding: 4px 10px;
  margin: 16px;
}
.know-how {
  display: flex;
  flex-direction: column;
  background: #e5e5e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 40px 8px;
  align-items: center;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #253c78;
  background: #f9f7f9;
}
