@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,700i,900&display=swap&subset=latin-ext");
h3,
p {
  margin: 8px;
}
button {
  background: #6320ee;
}

.header {
  &__bar {
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #6320ee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.bank-name {
  margin: 8px 24px 8px 0;
  width: 127px;
  height: 21px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #e7f0ff;
  text-shadow: 0px 4px 4px rgba(4, 0, 0, 0.7);
}
.button-login {
  width: 94px;
  height: 28px;
  margin: 6px 10px 0 8px;
  background: #4392f1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #e7f0ff;
}





.hamburger, .navigation {
  transition: transform .3s .1s ease-in-out;
}

.hamburger--active {
  transform: translatex(248px);
  z-index:300;
  
}

.hamburger__box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;

}

@mixin hamburger-line {
  width: 100%;
  height: 3px;
  background-color: #fefefe;
  position: absolute;
}

.hamburger__inner {
  @include hamburger-line;

  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color .1s .2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
  @include hamburger-line;
  
  content: '';
  left: 0;
  transition: transform .2s .2s ease-in-out;
} 

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  top: 10px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
 
}

.hamburger--active .hamburger__inner:before {
  transform: translateY(10px) rotate(45deg);
 
  
}

.hamburger--active .hamburger__inner:after {
  transform: translateY(-10px) rotate(-45deg);
  
}
.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: #6320ee;;
  border: 0;
  margin: 0;
  
}


.navigation {
  height: calc(100vh + 30px) ;
  width: 300px;
  background-color: #6320ee;
  position: absolute;
  top: -30px;
  left: -300px;
  margin-top: 0;
}

.navigation--active {
  transform:  translateX(300px) ;
  

  z-index: 200;
  display:inline-block;
  background: #fefefe;
}

.navigation__list {
  margin-top: 50px;
  list-style: none;
}

.navigation__item {
  margin-bottom: 20px;
  
}



.header{
  margin-bottom: 32px;
}







.presentation {
  margin-top: 32px;
 
  &__button {
    width: fit-content;
    background: #e7f0ff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: #4392f1;
    padding: 4px 10px;
    margin: 16px;

    &--open-account {
      color: #e7f0ff;
      background: #4392f1;
    }

    &--container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0 55px;
    }
  }

  &__account,
  &__app,
  &__mortgage {
    margin: 8px;
    background: #e7f0ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }
  &__account {
    &--picture {
      background-image: url("./assets/img/happy-people-holdings-hands.jpg");
    }
  }
  &__app {
    &--picture {
      background-image: url("./assets/img/woman-holding-smartphone.jpg");
    }
  }
  &__mortgage {
    &--picture {
      background-image: url("./assets/img/nice-looking-apartment.jpg");
    }
  }
  &__account,
  &__app,
  &__mortgage {
    
    &--picture {
      display: block;
      min-width: fit-content;
      min-height: 170px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border-radius: 4px;
    }
  }
}






.button-knowledge {
  width: fit-content;
  background: #e7f0ff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #4392f1;
  padding: 4px 10px;
  margin: 16px;
}
.know-how {
  display: flex;
  flex-direction: column;
  background: #e5e5e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 40px 8px;
  align-items: center;
}
.news {
  &__container {
    margin: 8px;
    background: #e7f0ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}








.footer {
  margin-top: 40px;
  background: #e0e0e0;
  display:flex;
 justify-content: space-between;
 border-top:1px solid #BFBFBF;
 color: #4392f1;
  text-shadow: 2px 2px 2px rgba(49, 49, 49, 0.3);
 
}
.social__list{
  margin-bottom:0;
  padding-right: 40px
}




a {
   color: #E7F0FF;
}


ul {
  list-style: none;
}
button {
  font-weight: 700;
}
html {
  font-size: 16px;
  color: #253c78;
  background: #f9f7f9;
}
